.title, h1 {
    font-size: 6rem;
    margin-top: 10vh;
    margin-bottom: 6vh;
    color: #5c5fff;
    margin-left: 8%;
}

.logo {
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.navbar {
    background-color: white;
}

.row {
    padding: 8%;
}

.fling {
    background-color: white;
    border-radius: 10px;

}

h2 {
    color: #463dfa;
}

h4 {
    font-size: 1.4rem;
    color: #5941A9;
}

strong {
    color: #FC9E4F;
}

.orange {
    color: #FC9E4F;
}

a {
    /* color: #261C15; */
    text-decoration: underline;
}
body {
    /* background-color: #080400;
    color: #080400; */
}
