{% extends "base.html" %}
{% block head %}
{{ super() }}
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock %}
{% block navbar %}
<div class="navbar">
    <img class="logo" src= {{ url_for('static', filename = '/assets/fling-nobg.png') }} height="automatic" width="12%"/>
</div>
{% endblock %}
{% block content %}
<section class="">
    <div class="container">
        <h1 class="title">{{ username }}'s Flings </h1>
        <div class="row mt-5">
            {% for fling in flings %}
            <div class="p-4 m-2 mb-4 mr-4 fling col-sm-5">
                <h2 class="mb-4">{{ fling }}</h2>
                <p class="orange"> <strong>Created: </strong> {{  flings[fling].get('started_on') }} <br>
                <strong>Last update:</strong> {{ flings[fling].get('last_update') }}
               </p>
                <p>{{ flings[fling].get('description')  }}</p>
                {{ flings[fling] }}

                 <h4 class="mt-4"> Collaborators </h4>
                 <p>
                 {# {% for collab in fling['essentials']['collaborators'] %}
                 {{ collab }},
                 {% endfor %} #}
                 </p>


                <h4 class="mt-4"> Essentials </h4>
                <a href="{{ flings[fling].get('domain') }}"> Website {{ flings[fling].get('domain') }} </a>
                <br>
                <a href="{{ flings[fling].get('repo') }}"> Repository </a>
               {# <p>
               {% for social in fling["essentials"]["social_media"] %}
                {{ social["name"] }}: {{ social["username"] }}<br>
                {% endfor %}
                </p> #}

                 <h4 class="mt-4"> Business Model </h4>
                 Subscription
            </div>

            {% endfor %}
        </div>
        </div>
    </div>
</section>
    {% endblock %}

